<?php echo $this->Element('backend/header_page',array('module' => $module,'page_type' => ''));?>
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <h1>Welcome <?=$user['name'];?></h1>,
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->
<div class="clearfix">
</div>