Hello <?php echo $detail['Contact']['name']; ?>,

Sehubungan dengan pertanyaan anda sebagai berikut :<br/>
<?php echo $detail['Contact']['message']; ?><br />

Berikut balasan kami mengenai pertanyaan tersebut
<?php echo $balasan['Contact']['balasan']; ?><br />

Demikian yang dapat kami sampaikan, terima kasih.

Best Regards,
Administrator TALEPO.COM