Hello <?php echo $member['Member']['name']; ?>,

Selamat anda mendapatkan akses untuk melakukan test di TALEPO.COM, Berikut Link TEST anda, <a href="<?php echo $url_test; ?>">Disini</a> <br/>

Atau bisa di akses di menu <b>Request Assessment</b> <br />

Demikian yang dapat kami sampaikan, Terima Kasih.<br/><br/>

Best Regards,<br/>
Administrator TALEPO.COM<br/>