Hello <?php echo $member['Member']['name']; ?>,<br /><br />

Selamat Datang di <a href="<?php echo $url_talepo; ?>">TALEPO.com</a>. Banyak keuntungan anda menggunakan <a href="<?php echo $url_talepo; ?>">TALEPO.com</a>. Jadi ingat terus username/email dan Password yang digunakan untuk melakukan di  <a href="<?php echo $url_talepo; ?>">TALEPO.com</a>. Berikut detail user account anda di  <a href="<?php echo $url_talepo; ?>">TALEPO.com</a> <br /><br />
Username : <?php echo $member['Member']['username']; ?><br />
Email : <?php echo $member['Member']['email']; ?><br />
<?php
	$label_pass = '';
	$jumlah_pass = strlen($member['Member']['password'])-3;
	for($a=0; $a < $jumlah_pass; $a++)
	{
		$label_pass .= '*';
	}
	$pass = substr($member['Member']['password'], 0, 3).$label_pass
?>
Password  : <?php echo $pass; ?><br /><br />

Demikian yang dapat kami sampaikan, sekali lagi kami ucapkan selamat bergabung dan terima kasih.<br />

Best Regards,<br />
Administrator TALEPO.COM<br />