/**
 *	MAIN
 **/
 *
 {
 	font-size: 14px;
	/*font-family: 'Raleway', sans-serif;*/
 }

 body{
 	min-width: 336px;
 	overflow-x:hidden;
 }

 h5, h4, h3, h2
 {
	 	line-height: 1.5 !important;

 }
 .input-lupa{
 	height: 40px;
 }

.training-text > *
{
	line-height: 1.5;
}

 .container
 {
 	width: 75%;
 	margin: auto;
 	padding-bottom: 25px;
 }

 nav .container
 {
 	padding-bottom: 0px;
 }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 10px;
	padding-right: 10px;
}

.preloader{
	min-height: 120%;
	height: 120%;
	z-index: 9999 !important;
}
.preloader div{
	min-height: 120%;
	height: 120%;
}

.calibri
{
font-family: 'Droid Sans', sans-serif;
}

#form-button-area
{
	margin-top: 10px;
}

.navbar-brand
{
	padding-top: 10px;
}

.navbar-brand img
{
	max-height:50px;
	/*width: 100%;*/
}

a{
	color: #3379f7;
}


a:hover, a:active{
	color: #337ab7;
}

.about-caption i {
	color: #3C763D;
}

.about-caption
{
	line-height: 1.5;
	text-align: justify;
}

#request_list_area .container
{
	min-height: 250px;
}

/**
 * NAVBAR 
 **/
	.navbar-custom-blue .navbar-nav>li>a {
		color: #0084C8;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1px;
	}

	.navbar-custom-blue .navbar-nav>.active>a, .navbar-custom-blue .navbar-nav>.active>a:hover, .navbar-custom-blue .navbar-nav>.active>a:focus {
		color: rgb(255,255,255);
		background-color: #0084C8;
	}

	.navbar-custom-blue .navbar-nav>li>a:hover, .navbar-custom-blue .navbar-nav>li>a:focus {
		color: rgb(255,255,255);
		background-color: #0084C8;
		-webkit-transition: background-color .2s linear, color .2s linear;
		-moz-transition: background-color .2s linear, color .2s linear;
		-o-transition: background-color .2s linear, color .2s linear;
		-ms-transition: background-color .2s linear, color .2s linear;
		transition: background-color .2s linear, color .2s linear;
	}

	.navbar-custom-blue .navbar-toggle .icon-bar {
		background-color: rgb(253,3,0);
	}

	.navbar-custom-blue .navbar-toggle {
		border-color: transparent;
	}

	.navbar-custom-blue .navbar-toggle:hover, .navbar-custom-blue .navbar-toggle:focus {
		background-color: transparent;
	}

/**
 *	UTILITIES
 **/

 	.no-padding{
 		padding: 0px;
 	}

 	.padding-top5
 	{
		padding-top: 5px; 		
 	}
 	.padding-top10
 	{
		padding-top: 10px; 		
 	}
 	.padding-top30
 	{
		padding-top: 30px; 		
 	}
 	.padding-top60
 	{
		padding-top: 60px; 		
 	}
 	.padding-top90
 	{
		padding-top: 90px; 		
 	}

 	.padding-bottom5
 	{
		padding-bottom: 5px; 		
 	}
 	.padding-bottom10
 	{
		padding-bottom: 10px; 		
 	}
 	.padding-bottom30
 	{
		padding-bottom: 30px; 		
 	}
 	.padding-bottom60
 	{
		padding-bottom: 60px; 		
 	}
 	.padding-bottom90
 	{
		padding-bottom: 90px; 		
 	}

	.margin-bottom5
	{
		margin-bottom: 5px;
	} 	
/**
 * LANDING PAGE
 */

 	.slider-caption
 	{
 		text-shadow: none;
 		background: rgba(0,0,0,0.6);
 		line-height: 20px;
 		padding: 15px 10px;
 	}

	#test-type-heading-area > .row
	{
		padding: 40px 0px;
		padding-bottom: 40px;

	}

	.test-type-label
	{
	 	color: white;
	 	font-size: 28px;
	 	
	}

	#landing-test-type{
	 	background: #0084C8;
	 	padding: 20px 0px;
	 	padding-bottom:40px;
	}

	.benefit-test-type{
	 	background: #0084C8;
	 	padding-bottom:0px;
	}	

	#landing-test-type > div > div > img{
	 	margin: auto;
	}

	#landing-test-type > div > div > img:hover{

	}	 

	#training-header-area > .row, #blog-header-area > .row, #blog-header-area > .row
	{
		padding: 40px 0px;
	 	text-align: center;
	}

	.training-header, .blog-header, .benefit-header
	{
	 	font-size: 28px;
	 	color: #0084C8;
	 	font-weight: 700;
	}

	#training-area
	{
		background: #F5F5F5;
	}

	#training-area > .row, #blog-area > .row, #footer-area > .row, #copyright-area > .row
	{
		padding: 0px;
	}

	.training-static-area
	{
		padding-bottom: 5px;
	}

	.training-static-area > img
	{
		width: 100%;
		height: 205px;
	}

	.training-title{
		width: 100%;
		background: #0084C8;
		text-align: center;
		color: white;
		padding: 20px 0px;
	}


	#landing-test-type > .row
	{
		margin: 0px;
	}

	#blog-area
	{
		background: #F0F5F7;
	}

	#feed-area > .thumbnail
	{
		background: none;
	}

	#training-b-area
 	{
 		padding-left: 0px;


 	}

	#training-b-area > .training-title
 	{
 		padding: 9.5px 0px;


 	}

 	.test-type-area  img
 	{
 		margin: auto;
 	}

	#training-d-area > .training-title
 	{
 		font-size:20px;
 		line-height: 20px;
 		padding: 13px 0px;
 	}


/**
 *	TEST PAGE AREA
 **/

 	#about-test-type
 	{
 		padding-top: 90px;
 		background: url('../img/assets/background-test-page.png');
 	}


 	#package-test-type{
 		padding-top: 30px;
 	}


 	#package-test-type .panel{
 		position: relative;
 		min-height: 800px;
 		padding-bottom: 30px;
 	}

 	.btn-test{
 		position: absolute;
 		bottom: 20px;
 		text-align: center;
 		left: 0px;
 		right: 0px;
 	}

 	.package-list tr td{
 		height: 65px;
 		vertical-align: middle !important;
 		font-size: 16px;
 		text-align: center;
 	}

 	.panel-test-type > .panel-heading 
 	{
 		padding: 10px;
 	}
 	
 	.panel-test-type > .panel-body 
 	{
 		padding: 10px;
 		margin: auto;
 		font-size: 16px;
 	}

 	.panel-test-type > .panel-heading > .panel-title
 	{
 		font-size: 28px;	
 		text-align: center;
 	}

 	.panel >.table-striped > tbody > tr:first-child
 	{
 		height: 100px;
 	}

 	.panel >.table-striped > tbody > tr:nth-child(2n)
 	{
 		background: #F7F7F7;
 	}


 	.panel-yellow > .panel-heading
 	{
 		background: #FEB914;
 	}

 	.panel-yellow >.table-striped > tbody > tr:nth-child(2n)
 	{
 		background: #F8EBCA;
 	}

 	.btn-orange{
 		background: black;
 		color: white;
 	}

 	.btn-orange:hover{
 		color: white;
 		background: #FEB914;
 	}


 	.panel-red > .panel-heading
 	{
 		background: #F14B21;
 	}

 	.panel-red >.table-striped > tbody > tr:nth-child(2n)
 	{
 		background: #F6D5CC;
 	}

 	.btn-red{
 		background: black;
 		color: white;
 	}

 	.btn-red:hover{
 		color: white;
 		background: #F14B21;
 	}

 	.panel-green > .panel-heading
 	{
 		background: #7BBD41;
 	}

 	.panel-green >.table-striped > tbody > tr:nth-child(2n)
 	{
 		background: #DEEBD3;
 	}

 	.btn-green{
 		background: black;
 		color: white;
 	}

 	.btn-green:hover{
 		color: white;
 		background: #7BBD41;
 	}


 	.panel-blue > .panel-heading
 	{
 		background: #0084C8;
 	}

 	.panel-blue >.table-striped > tbody > tr:nth-child(2n)
 	{
 		background: #C6E0EE;
 	}

 	.btn-blue{
 		background: black;
 		color: white;
 	}

 	.btn-blue:hover{
 		color: white;
 		background: #0084C8;
 	}


 	.panel-yellow > .panel-heading > .panel-title,
 	.panel-red > .panel-heading > .panel-title,
 	.panel-green > .panel-heading > .panel-title,
 	.panel-blue > .panel-heading > .panel-title
 	{
 		font-size: 28px;
 		text-align: center;
 		color: white;
 	}

 	.label-harga{
 		font-size: 32px;
 	}

 	.label-harga small{
 		font-size: 15px;
 	}

 	.label-harga-yellow{
 		color: #FEB914;
 	}
 	.label-harga-red{
 		color: #F14B21;
 	}
 	.label-harga-green{
 		color: #7BBD41;
 	}
 	.label-harga-blue{
 		color: #0084C8;
 	}

 	.harga-detail
 	{
 		margin-top: 0px;
 	}

 	.jumbotron-custom
 	{
 		padding: 35px 20px;
 	}

/**
 *	DASHBOARD
 **/
 #projects_bg
 {
 	margin-top: 70px;
 	padding-top: 50px;
 }
  #landing-blog-readmore
  {
  	margin-top: 10px;
  }
 	#dashboard-overview
 	{
 		background: url('../img/assets/background-dashboard.png');
 		margin-top: 70px;
 		padding-bottom: 20px;
 	}

 	.background-white-opacity
 	{
 		background-color: white;
 		opacity: 0.7;
 	}

 	#inner-panel{
 		padding: 5px;
 		min-height: 340px;
 	}

 	#profile-info > div{
 		padding: 10px 5px;
 		margin-bottom: 10px;
 	}

 	#quote-area
 	{
 		margin-bottom: 10px;
 		min-height: 250px;
 		max-height: 205px;
 		overflow-y:scroll; 		
 	}

 	#detail-test-area
 	{
 		margin: 10px 5px;
 	}

 	#detail-test-area > button
 	{
 		margin: 20px 0px;
 	}

	.progress-bar {
		float: left;
		width: 0;
		height: 100%;
		font-size: 12px;
		line-height: 16px;
		color: #fff;
		text-align: center;	
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: width .6s ease;
		-o-transition: width .6s ease;
		transition: width .6s ease;
	}

	.progress-mini
	{
		height: 12px;
	}
 	.progress-bar-blue
 	{
 		color: #0084C8 !important;
 	}

 	.skill-list
 	{
 		padding-left: 0px;
 	}

 	.skill-list > li
 	{
 		list-style: none;
 		font-size: 24px;
 		padding: 10px 0px;
 	}

 	.score-label
 	{
 		font-size: 72px;
 	}

 	.list-work
 	{
 		padding-left: 0px;
 	}

 	.list-work > li
 	{
 		float: left;
 		list-style: none;
 		margin:0px 10px;
 	}
 	.list-work > li:first-child
 	{
 		margin-left: 0px;
 	}
 	.list-work > li:last-child
 	{
 		margin-right: 0px;
 	}

 	.training-item{
 		background: #F0F5F7;
 	}

 	.training-item > .media-body
 	{
 		font-size: 12px;
 		padding: 5px 3px;
 	}

 	.training-item > .media-body > .media-heading{
 		font-size: 18px;
 	}

	.media-title{
		min-width: 70px;
	}

	.media-title > h1
	{
		margin-bottom: 0px;
		font-size: 42px;
	}

	.btn-test-area > a
	{
		margin-top: 10px;
	}

/**
 *	FOOTER AREA
 **/

 	footer{

 	}

 	#footer-area 
 	{
 		color: white;
		background: url('../img/assets/footer.png');	

 	}

 	#footer-area .container
 	{
 		padding:30px 0px;
 	}

 	.general-service
 	{
 		padding-left: 0px;
 	}

 	.general-service > li
 	{
 		list-style: none;
 		padding: 5px 5px 5px 0px;
 	}
 	
 	.general-service > li > ul > li
 	{
 		list-style: none;
 		padding: 5px 5px 5px 0px;
 	}
 	.about-desc
 	{
 		text-align: justify;
 		font-size: small;
 	}

 	.text-white
 	{
 		color: white;
 	}
/*
 	.fa-stop:hover
 	{
 		color: blue;
 	}
*/
	.f-area{ color: gray; }
	.f-area:hover > .fa-stop { color: #3B5998; }

	.t-area{ color:  gray; }
	.t-area:hover > .fa-stop { color: #5EA9DD; }
	
	.g-area{ color:  gray; }
	.g-area:hover > .fa-stop { color: #D41E1B; }


	.general-service a{
		color: white;
	}

	.general-service a:hover, .general-service a:focus{
		color: #0084c8;
	}

	.btn-sm, .btn-group-sm > .btn {
	    padding: 5px 10px !important;
	}

	.dropdown-menu-login
	{
		width: 350px;
	}

	.dropdown-menu-login .form-group
	{
		padding: 0px 10px;
	}

	.dropdown-menu-login a
	{
		color: black;
	}

	.dropdown-menu-login a:hover,	.dropdown-menu-login a:active
	{
		color: #0084c8;
	}

	#slider-static-content {
	    left: 12.5%;
	    position: absolute;
	    
	    top: 15%;
	    width: 75%;
	    z-index: 99;
	    padding: 15px 10px;
	}	

	#slider-static-content > #tagline-area{
		margin-top: 60px;
		text-align: center;
	}

	#slider-static-content .form-group
	{
		margin-bottom: 2px;
		color: black;
	}

	#slider-static-content h1, #slider-static-content h2, #slider-static-content h3
	{
		color: black !important;
	}

	#navbar-only-logo
	{
		background:none !important;
	}


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border:1px solid #ddd;
  padding-right: 0px;

  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #0888CA;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #0084C8;
  background-image: #0084C8;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #0084C8;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.bhoechie-tab
{
	padding: 0px;
}

#about-talepo
{
	padding: 15px 10px;
}

#about-talepo .col-md-4
{
	font-size: 18px;
	line-height: 1.5;
}




.tagline-tujuan
{
	font-size: 18px;
}

#benefit-area
{
	padding:10px 0px 50px;
}

#benefit-area > .container
{
	padding-bottom: 40px;
}

.benefit-area .fa
{
	/*margin: 10px 0px;*/
}

.benefit-header
{
	padding: 30px 5px;
}

#benefit-header-area > .row
{
	padding:20px 0px;
}

#training-post
{
	margin: 10px 0px;	
}

#RequestTestPackageTestId1
{
	margin-left: 0px;
}

.benefit-area
{
	margin: 20px 0px;
}

#timer_area
{
	margin-top: 60px;
	font-size: 24px;
	text-align: right;
}

#time_used
{
	text-align: right;
	width: 80%;
	border: none;
	background-color: #fff;
	font-size: 24px;

}

.assesment-img
{
	margin-right: 15px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
	background-color: #0084C8;
}


@media (max-width: 768px) {
	.navbar-toggle
	{
		margin-right: 1px;
		margin-top: 15px;
	}


	#about-talepo .col-md-4
	{
		/*font-size: 16px;*/
		margin: 15px 0px;
	}


	.navbar-custom-blue .navbar-toggle .icon-bar
	{
		background-color: #0084C8;
	}

    #benefit-area h3{
    	font-size: small;
    }

    #benefit-area .col-md-6
    {
    	margin-top: 20px;
    }

	.header-nav{
		padding-bottom: 5px;
	}

	.navbar-brand
	{
		width: 60%;
		margin-top: 10px;
	}

	.navbar-brand img
	{
		/*width: 100%;*/
	}


}

@media (max-width: 230px) {
	.navbar-brand
	{
		width: 100%;
	}

}



@media (max-width: 1010px) {

	.container
	{
		width: 98% !important;
	}

	.navbar-custom-blue .navbar-toggle .icon-bar
	{
		background-color: #0084C8;
	}

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    #timer_area
    {
    	margin-top: 0px;
    	padding: 20px 0px;
    	text-align: center;
    }

	#time_used
	{
		text-align: center;

	}

    #soal_panel
    {
    	text-align: center;
    }
}

.table-custom > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	vertical-align: middle;
}

.custom-inner-fa
{
	font-size: 56px;
}

.custom-stack-fa
{
	margin-bottom: 20px;
	color: #0084C8;
}

.checked-list li:before
{
    content: "\2611";
    margin-right:5px;
}

.checked-list li
{
    list-style: none;
    padding: 5px 0px;
}

.manfaat-list li:before
{
	content: "\00bb";
	margin-right: 5px;
}

.manfaat-list li
{
    list-style: none;
	padding: 5px 0px;
}

.no-list-style
{
	list-style: none;
	padding-left: 25px;
}

.image-list img
{
	min-height: 230px;
	height: 230px;
	margin: 0px auto;
	margin-bottom: 20px;
}

.sub-menu-data
{
	margin-left: 20px;
}

.lihat_semua_notif
{
	background-color: #DFDFDF;
	font-size: smaller;
}

.notif-menu li a
{
	font-size: small;
}

.notif-menu
{
	padding-bottom: 0px;
}

.site-wrapper
{
	padding-top: 30px;
}

.benefit-test-type:hover
{
	background: #006EA5;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.btn-free-online
{
	background-color: #ffffff;
	color: #0084C8;
	border: 2px #0084C8 solid;
	border-radius: 6px;
	padding: 15px 10px;
	font-weight: bolder;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
}

.list-group-custom li
{
	padding: 15px 5px;
}

.btn-free-online:hover
{
	background-color: #0084C8;
	color: white;
	border: 2px #0084C8 solid;
	border-radius: 6px;
	padding: 15px 10px;
	font-weight: bolder;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
}

.btn-next-soal{
	background-color: #fff;
	color: #0084C8;
	border: 2px #0084C8 solid;
	border-radius: 4px;
	padding: 5px 10px;
	margin:20px 10px;
}

.btn-next-soal:hover{
	background-color: #0084C8;
	color: white;
	border: 2px white solid;
	border-radius: 4px;
	padding: 5px 10px;
	margin:20px 10px;
}

#datepicker{
	cursor: pointer;
}

.about-desc
{
	padding-top: 10px;
	/*margin-bottom: 20px;*/
}

.address-footer
{
	margin-top: 20px;
}

.table-login
{
	color: #000;
}
.table-login tr:first-child
{
	padding-top: 10px;
}

.about-talepo .col-md-4
{
	line-height: 1.5;
}

.table-login tr:last-child
{
	padding-bottom: 10px;
}

.table-login td
{
	padding: 0px 2px;

}


.btn-login
{
	padding: 3px 10px !important;
}

.social_share_list
{
	list-style: none;
	display: inline-block;
	margin: 20px 0px;
	padding-left: 0px;
}

.social_share_list li
{
	float: left;
	padding: 10px 5px;
}

.social_share_list .fa
{
	font-size: xx-large;
	padding: 10px 20px;
	color: #337AB7;
	background-color: #fff;
}

.social_share_list .fa:hover
{
	background-color: #337AB7;
	color: #fff;
}

.daerah_sertifikat
{
	margin-top: 20px;
}

.btn-sertifikat
{
	margin: 10px 0px;
}


@media(max-width: 991px)
{

	.image-list img
	{
		width: 100%;
		height: auto;
		margin: 10px auto;
	}	
	
	.benefit-area h4
	{
		font-size: x-large;
	}

	.benefit-area h4
	{
		font-size: x-large;
	}
}

@media(max-width: 336px)
{
	body{
		overflow: scroll;
	}
}
