<!-- DASHBOARD OVERVIEW AREA -->
<div class="col-lg-12 col-md-12 padding-top90" id="">
    <div class="">
    	<div class="col-md-offset-2 col-md-8">
    		
			<div class="jumbotron jumbotron-custom">
				
				<h1>Terima Kasih</h1>
				<h4><?php echo $this->Session->flash(); ?></h4>
				<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
			</div>    		
    	</div>
    </div>
</div>