<!-- DASHBOARD OVERVIEW AREA -->
<div class="col-lg-12 col-md-12 padding-top90" id="">
    <div class="">
    	<div class="col-lg-8 col-lg-offset-2">
    		<div class="row">
				<div class="jumbotron">
					<div class="container text-center">
						<h1>Test Selesai</h1>
						<h5>Score Adalah</h5>
						<h2><?php echo $result; ?></h2>
					</div>
				</div>
    		</div>
    	</div>
    </div>
</div>

<?php
//	$semua_soal = $data_session['Assesment']['soal'];
	echo $this->Html->scriptBlock(
			"
			   $(document).ready(function() { 
					
			   });

			",
			[ 'escape' => false, 'inline' => false ]
		);

?>