.no-margin-bottom{
    margin-bottom: 0px;
}

.thumbnail-full > img{
    width: 100%;
    height: 100%;
}

.btn-advance{
    border :   1px solid #fff;
    padding: 3px 9px !important;
}

.input-icon-sm > i{
    margin: 8px 5px;
    font-size: 12px;
}

.input-icon-sm.danger > i{
    color: rgb(243,86,93);    
}


.form-label-left .control-label{
    text-align: left !important;
}

.table-report{
    margin-top:30px;
}

.table-report th{
    background-color: rgb(247,247,247);
}

.margin-right-10{
    margin-right: 20px !important;
}

.padding-bottom-10{
    padding-bottom: 10px !important;
}
.padding-top-20{
    padding-top: 20px !important;
}
.padding-left-30{
    padding-left: 30px !important;
}

.padding-right-30{
    padding-right: 30px !important;
}
.table-lr{
    max-width: 800px;
    margin: 40px auto;
}

 .border-top{
    border-top: 1px solid #ddd !important;
}

.table-lr > thead > tr > th,.table-lr > thead > tr > td {
    border-bottom: none;
    border-top: none;
    padding: 5px;
    color: rgb(16,121,174);
    font-size:14px;
}

.table-lr > thead > .black > th,.table-lr > thead > .black > td {
    color: #333;
}

.table-jurnal{
    margin-top: 40px;
}

.table-jurnal .first td{
   font-weight: bold;
   border-top: none;
}

.table-jurnal .child td{
   border-top: none;
   padding-top: 0px;
   padding-bottom: 0px;
}


.table-jurnal > thead > tr > th {
    border-bottom: 0 solid #ddd;
    vertical-align: bottom;
    background-color: rgb(247,247,247);
}

.heading-title h4,.heading-title h3{
    margin: 0px;
    font-weight: normal;
}

.heading-title h4{
    font-weight: normal;
}

.form-group-no-margin .form-group{
    margin-bottom: 0px;
}

.form-group.left .control-label{
    text-align: left;
}

.control-label.text-left{
    text-align: left;
    padding-left: 18px;
}

.input-group-sm > .input-icon i{
    margin: 8px 0px 0px 4px !important;
}
.input-group-sm > .input-icon > .form-control {
    font-size: 13px  !important;
    height: 30px !important;
    padding: 6px 10px !important;
}

.no-padding{
    padding: 0px !important;
}

.btn-full{
    width: 100% !important;
    margin: 0px;
}

.alert-small{
    margin-bottom:4px;
    padding: 5px; 
}

.tt-hint, .tt-input{
    color: #333333!important;
}

.tt-hint.input-sm,.tt-input.input-sm{
    font-size: 13px !important;
    height: 28px !important;
    padding: 5px 10px !important;
}

.input-group-sm > .input-group-addon{
    height: 28px !important;
    padding: 0px;
    border-radius:  0px !important;
}

.page-header{
    background-color: #3FD5C0 !important;
}

.page-header.navbar .page-logo {
    width: 350px;
}
.page-header.navbar .page-logo a{
    padding: 13px 0px;
    color: #fff; 
    font-weight: bold;   
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle{
    padding: 14px 6px 12px 6px;
}

.page-logo > a > img{
    margin: 0px !important;
    width: 150px;
}
.print-link > i.fa
{
    color: #fff !important;
    font-size: 18px !important;
}

.navbar .dropdown-extended .unread a{
	background-color: #fafafa;
}

#toast-container > .toast {
    background-image: none !important;
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}        
#toast-container > .toast-warning:before {
    content: "\f003";
}
#toast-container > .toast-error:before {
    content: "\f001";
}
#toast-container > .toast-info:before {
    content: "\f005";
}
#toast-container > .toast-success:before {
    content: "\f002";
}

.outside-icon.input-icon-sm > i {
    font-size: 8px;
    margin: 4px -25px 8px 5px;
}

.file-input-full-width{
    width: 100%;
}

.file-input-full-width img{
    width: 100%;
}

.table .btn-group .btn{
    margin-right: 0px;
}

#rootwizard
{
    padding: 10px;
}

#rootwizard .container
{
    padding-left: 0px;
}

#rootwizard .navbar
{
    margin-bottom: 0px;
}

#rootwizard .progress
{
    margin-bottom: 10px;
}

.btn-list-soal
{
    margin: 2px 2px;
}

.btn-list-soal:first-child
{
    margin-left: 0px;
}

.btn-list-soal:last-child
{
    margin-right: 0px;
}

.no-background
{
    background: none;
}

.cke_toolgroup
{
    height: 28.7px !important;
}

.not-link-actived {
   pointer-events: none;
   cursor: default;
}

@media print{
    body,html { font-size: 10px !important;margin: 0px !important; }
}