
.daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3000;
}
.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
    float: left;
    margin: 4px;
}
.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
    float: right;
    margin: 4px;
}
.daterangepicker .ranges {
    text-align: left;
    width: 160px;
}
.daterangepicker .ranges .range_inputs > div {
    float: left;
}
.daterangepicker .ranges .range_inputs > div:nth-child(2) {
    padding-left: 11px;
}
.daterangepicker .calendar {
    display: none;
    max-width: 270px;
}
.daterangepicker.show-calendar .calendar {
    display: block;
}
.daterangepicker .calendar.single .calendar-date {
    border: medium none;
}
.daterangepicker .calendar th, .daterangepicker .calendar td {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    min-width: 32px;
    text-align: center;
    white-space: nowrap;
}
.daterangepicker .daterangepicker_start_input label, .daterangepicker .daterangepicker_end_input label {
    color: #333333;
    display: block;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
    width: 74px;
}
.daterangepicker .ranges input {
    font-size: 11px;
}
.daterangepicker .ranges .input-mini {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: block;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 0 6px;
    vertical-align: middle;
    width: 74px;
}
.daterangepicker .ranges ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.daterangepicker .ranges li {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #F5F5F5;
    border-radius: 5px 5px 5px 5px;
    color: #0088CC;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 8px;
    padding: 3px 12px;
}
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background: none repeat scroll 0 0 #0088CC;
    border: 1px solid #0088CC;
    color: #FFFFFF;
}
.daterangepicker .calendar-date {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    padding: 4px;
}
.daterangepicker .calendar-time {
    line-height: 30px;
    margin: 8px auto 0;
    text-align: center;
}
.daterangepicker {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    left: 20px;
    margin-top: 1px;
    padding: 4px;
    position: absolute;
    top: 100px;
}
.daterangepicker.opensleft:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 9px;
    top: -7px;
}
.daterangepicker.opensleft:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: -6px;
}
.daterangepicker.opensright:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.daterangepicker.opensright:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
.daterangepicker table {
    margin: 0;
    width: 100%;
}
.daterangepicker td, .daterangepicker th {
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    height: 20px;
    text-align: center;
    white-space: nowrap;
    width: 20px;
}
.daterangepicker td.off {
    color: #999999;
}
.daterangepicker td.disabled {
    color: #999999;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}
.daterangepicker td.in-range {
    background: none repeat scroll 0 0 #EBF4F8;
    border-radius: 0 0 0 0;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #357EBD;
    border-color: #3071A9;
    color: #FFFFFF;
}
.daterangepicker td.week, .daterangepicker th.week {
    color: #CCCCCC;
    font-size: 80%;
}
.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    cursor: default;
    font-size: 12px;
    height: auto;
    margin: 0;
    padding: 1px;
}
.daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%;
}
.daterangepicker select.yearselect {
    width: 40%;
}
.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.ampmselect {
    margin-bottom: 0;
    width: 50px;
}
.daterangepicker_start_input {
    float: left;
}
.daterangepicker_end_input {
    float: left;
    padding-left: 11px;
}
.daterangepicker th.month {
    width: auto;
}
