
.fc {
    direction: ltr;
    text-align: left;
}
.fc table {
    border-collapse: collapse;
    border-spacing: 0;
}
html .fc, .fc table {
    font-size: 1em;
}
.fc td, .fc th {
    padding: 0;
    vertical-align: top;
}
.fc-header td {
    white-space: nowrap;
}
.fc-header-left {
    text-align: left;
    width: 25%;
}
.fc-header-center {
    text-align: center;
}
.fc-header-right {
    text-align: right;
    width: 25%;
}
.fc-header-title {
    display: inline-block;
    vertical-align: top;
}
.fc-header-title h2 {
    margin-top: 0;
    white-space: nowrap;
}
.fc .fc-header-space {
    padding-left: 10px;
}
.fc-header .fc-button {
    margin-bottom: 1em;
    vertical-align: top;
}
.fc-header .fc-button {
    margin-right: -1px;
}
.fc-header .fc-corner-right, .fc-header .ui-corner-right {
    margin-right: 0;
}
.fc-header .fc-state-hover, .fc-header .ui-state-hover {
    z-index: 2;
}
.fc-header .fc-state-down {
    z-index: 3;
}
.fc-header .fc-state-active, .fc-header .ui-state-active {
    z-index: 4;
}
.fc-content {
    clear: both;
}
.fc-view {
    overflow: hidden;
    width: 100%;
}
.fc-widget-header, .fc-widget-content {
    border: 1px solid #DDDDDD;
}
.fc-state-highlight {
    background: none repeat scroll 0 0 #FCF8E3;
}
.fc-cell-overlay {
    background: none repeat scroll 0 0 #BCE8F1;
    opacity: 0.3;
}
.fc-button {
    cursor: pointer;
    display: inline-block;
    height: 1.9em;
    line-height: 1.9em;
    overflow: hidden;
    padding: 0 0.6em;
    position: relative;
    white-space: nowrap;
}
.fc-state-default {
    border: 1px solid;
}
.fc-state-default.fc-corner-left {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.fc-state-default.fc-corner-right {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.fc-text-arrow {
    font-family: "Courier New",Courier,monospace;
    font-size: 2em;
    margin: 0 0.1em;
    vertical-align: baseline;
}
.fc-button-prev .fc-text-arrow, .fc-button-next .fc-text-arrow {
    font-weight: bold;
}
.fc-button .fc-icon-wrap {
    float: left;
    position: relative;
    top: 50%;
}
.fc-button .ui-icon {
    float: left;
    margin-top: -50%;
    position: relative;
}
.fc-state-default {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.fc-state-hover, .fc-state-down, .fc-state-active, .fc-state-disabled {
    background-color: #E6E6E6;
    color: #333333;
}
.fc-state-hover {
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.fc-state-down, .fc-state-active {
    background-color: #CCCCCC;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.fc-state-disabled {
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.fc-event-container > * {
    z-index: 8;
}
.fc-event-container > .ui-draggable-dragging, .fc-event-container > .ui-resizable-resizing {
    z-index: 9;
}
.fc-event {
    background-color: #3A87AD;
    border: 1px solid #3A87AD;
    color: #FFFFFF;
    cursor: default;
    font-size: 0.85em;
}
a.fc-event {
    text-decoration: none;
}
a.fc-event, .fc-event-draggable {
    cursor: pointer;
}
.fc-rtl .fc-event {
    text-align: right;
}
.fc-event-inner {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.fc-event-time, .fc-event-title {
    padding: 0 1px;
}
.fc .ui-resizable-handle {
    display: block;
    font-size: 300%;
    line-height: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 99999;
}
.fc-event-hori {
    border-width: 1px 0;
    margin-bottom: 1px;
}
.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end {
    border-bottom-left-radius: 3px;
    border-left-width: 1px;
    border-top-left-radius: 3px;
}
.fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start {
    border-bottom-right-radius: 3px;
    border-right-width: 1px;
    border-top-right-radius: 3px;
}
.fc-event-hori .ui-resizable-e {
    cursor: e-resize;
    height: 100% !important;
    right: -3px !important;
    top: 0 !important;
    width: 7px !important;
}
.fc-event-hori .ui-resizable-w {
    cursor: w-resize;
    height: 100% !important;
    left: -3px !important;
    top: 0 !important;
    width: 7px !important;
}
.fc-event-hori .ui-resizable-handle {
}
table.fc-border-separate {
    border-collapse: separate;
}
.fc-border-separate th, .fc-border-separate td {
    border-width: 1px 0 0 1px;
}
.fc-border-separate th.fc-last, .fc-border-separate td.fc-last {
    border-right-width: 1px;
}
.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td {
    border-bottom-width: 1px;
}
.fc-border-separate tbody tr.fc-first td, .fc-border-separate tbody tr.fc-first th {
    border-top-width: 0;
}
.fc-grid th {
    text-align: center;
}
.fc .fc-week-number {
    text-align: center;
    width: 22px;
}
.fc .fc-week-number div {
    padding: 0 2px;
}
.fc-grid .fc-day-number {
    float: right;
    padding: 0 2px;
}
.fc-grid .fc-other-month .fc-day-number {
    opacity: 0.3;
}
.fc-grid .fc-day-content {
    clear: both;
    padding: 2px 2px 1px;
}
.fc-grid .fc-event-time {
    font-weight: bold;
}
.fc-rtl .fc-grid .fc-day-number {
    float: left;
}
.fc-rtl .fc-grid .fc-event-time {
    float: right;
}
.fc-agenda table {
    border-collapse: separate;
}
.fc-agenda-days th {
    text-align: center;
}
.fc-agenda .fc-agenda-axis {
    font-weight: normal;
    padding: 0 4px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    width: 50px;
}
.fc-agenda .fc-week-number {
    font-weight: bold;
}
.fc-agenda .fc-day-content {
    padding: 2px 2px 1px;
}
.fc-agenda-days .fc-agenda-axis {
    border-right-width: 1px;
}
.fc-agenda-days .fc-col0 {
    border-left-width: 0;
}
.fc-agenda-allday th {
    border-width: 0 1px;
}
.fc-agenda-allday .fc-day-content {
    min-height: 34px;
}
.fc-agenda-divider-inner {
    height: 2px;
    overflow: hidden;
}
.fc-widget-header .fc-agenda-divider-inner {
    background: none repeat scroll 0 0 #EEEEEE;
}
.fc-agenda-slots th {
    border-width: 1px 1px 0;
}
.fc-agenda-slots td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 1px 0 0;
}
.fc-agenda-slots td div {
    height: 20px;
}
.fc-agenda-slots tr.fc-slot0 th, .fc-agenda-slots tr.fc-slot0 td {
    border-top-width: 0;
}
.fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td {
    border-top-style: dotted;
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
}
.fc-event-vert {
    border-width: 0 1px;
}
.fc-event-vert.fc-event-start {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-width: 1px;
}
.fc-event-vert.fc-event-end {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-width: 1px;
}
.fc-event-vert .fc-event-time {
    font-size: 10px;
    white-space: nowrap;
}
.fc-event-vert .fc-event-inner {
    position: relative;
    z-index: 2;
}
.fc-event-vert .fc-event-bg {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.fc .ui-draggable-dragging .fc-event-bg, .fc-select-helper .fc-event-bg {
}
.fc-event-vert .ui-resizable-s {
    bottom: 0 !important;
    cursor: s-resize;
    font-family: monospace;
    font-size: 11px !important;
    height: 8px !important;
    line-height: 8px !important;
    overflow: hidden !important;
    text-align: center;
    width: 100% !important;
}
.fc-agenda .ui-resizable-resizing {
}
