
.jqvmap-label {
    background: none repeat scroll 0 0 #292929;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: none;
    font-family: sans-serif,Verdana;
    font-size: smaller;
    padding: 3px;
    position: absolute;
}
.jqvmap-zoomin, .jqvmap-zoomout {
    background: none repeat scroll 0 0 #000000;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    height: 10px;
    left: 10px;
    line-height: 10px;
    padding: 3px;
    position: absolute;
    text-align: center;
    width: 10px;
}
.jqvmap-zoomin {
    top: 10px;
}
.jqvmap-zoomout {
    top: 30px;
}
.jqvmap-region {
    cursor: pointer;
}
.jqvmap-ajax_response {
    height: 500px;
    width: 100%;
}
