
.tasks-widget:after {
    clear: both;
}
.tasks-widget .task-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.tasks-widget .task-list > li {
    border-bottom: 1px solid #F4F6F9;
    padding: 10px 0;
    position: relative;
}
.tasks-widget .task-list > li:hover {
    background: none repeat scroll 0 0 #F4F6F9;
}
.tasks-widget .task-list > li.last-line {
    border-bottom: medium none;
}
.tasks-widget .task-list > li.task-done {
    background: none repeat scroll 0 0 #F6F6F6;
}
.tasks-widget .task-list > li.task-done:hover {
    background: none repeat scroll 0 0 #F4F4F4;
}
.tasks-widget .task-list > li.task-done .task-title-sp {
    text-decoration: line-through;
}
.tasks-widget .task-list > li > .task-bell {
    margin-left: 10px;
}
.tasks-widget .task-list > li > .task-checkbox {
    float: left;
    width: 30px;
}
.tasks-widget .task-list > li > .task-checkbox input[type="checkbox"] {
    cursor: pointer;
}
.tasks-widget .task-list > li > .task-title {
    color: #838FA1;
    margin-right: 10px;
}
.tasks-widget .task-list > li > .task-title .task-title-sp {
    margin-right: 5px;
}
.tasks-widget .task-list > li .task-config-btn {
    margin-top: -1px;
}
.tasks-widget .task-list > li > .task-config {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.tasks-widget .task-list > li:hover > .task-config {
    display: block;
    margin-bottom: 0 !important;
}
.tasks-widget .task-footer {
    margin-top: 5px;
}
.tasks-widget .task-footer:before, .tasks-widget .task-footer:after {
    content: " ";
    display: table;
}
.tasks-widget .task-footer:after {
    clear: both;
}
@media only screen and (max-width: 480px) {
.tasks-widget .task-config-btn {
    display: block;
    float: inherit;
}
.tasks-widget .task-list-projects li > .label {
    margin-bottom: 5px;
}
}
