.twitter-typeahead {
  width: 100%;
  display: table !important;
}

.twitter-typeahead .form-control {
  margin: 0 !important;
}

.tt-hint,
.tt-input {
  color: #999;
  font-size: 14px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.tt-hint[disabled] {
  background-color: #fff !important;
}


.tt-dropdown-menu {
  min-width: 400px;
  margin-top: 0px;
  padding: 0px 0;
  background-color: #fff;
  border: 1px solid #ebebeb;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width: 100%;
  overflow-y: auto;
  max-height: 250px;

}

.tt-dropdown-menu h3 {
  margin: 5px 0;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 700; 
  border-bottom: 1px solid #eee;
}

.modal-open .tt-dropdown-menu {
  z-index: 10055 !important;
}

.tt-suggestion {
  padding: 0px;
  font-size: 14px;
  line-height: 16px;
  border-bottom:1px solid rgb(68,182,174) ;
}

.tt-suggestion:last-child {
  border-bottom:none ;
}

.tt-suggestion.tt-cursor {
  cursor: pointer;
  background-color: rgb(68,182,174);
  color: #fff !important;

}

.tt-suggestion.tt-cursor h4{
  cursor: pointer;
  background-color: rgb(68,182,174) !important;
  color: #fff!important;

}

.tt-suggestion p {
  margin: 0;
}

.tt-dropdown-menu .media{
  padding: 4px 0px;
}


.tt-dropdown-menu .media .media-body{
  padding: 0px 10px;
}

.tt-dropdown-menu .media .media-body h4{
  font-size: 12px !important;
  margin: 0px !important;
  padding: 0px !important;
  color: rgb(68,182,174);
  font-weight: normal !important;
}

@media(max-width: 400px){
  .tt-dropdown-menu {
    min-width: 200px;
  }
}