<?php
    $css_plugin   = array(
        'dataTables.bootstrap',
    );

    echo $this->Html->css( $css_plugin ,array('pathPrefix'=>'backend/css/','block'=>'cssPlugin'));
?>
<?php echo $this->Element('backend/header_page',array('module' => $module,'page_type' => 'Data'));?>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Data <?=$module['Module']['title'];?>
                </div>
                <div class="actions">
                    <?php 
                        echo $this->Html->link('<i class="fa fa-arrow-left"></i> Back',array(
                                'action'=>'index'
                            ),
                            array(
                                'escape'=>false,
                                'class' => 'btn btn-default btn-sm'
                            )
                        );
                    ?>
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-responsive">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2">Test Name</label>
                            <div class="col-md-10"><?php echo ucwords($data['PersonalityPapper']['test_name']); ?></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Type</label>
                            <div class="col-md-10"><?php echo ($data['PersonalityPapper']['type'] == 1) ? 'Gratis' : 'Bayar'; ?></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Status Active</label>
                            <div class="col-md-10"><?php echo ($data['PersonalityPapper']['status_active'] == 1) ? 'Tidak Aktif' : 'Aktif'; ?></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <?php

                                    $jumlah_soal = count($list_soal);

                                    for($x = 1; $x <= $jumlah_soal; $x++)
                                    {
                                        if($x%11 == 0 && $x > 2)
                                        {
                                            echo "</div><div class='col-md-6'>";
                                        }
                                ?>
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-warning">Soal Ke <?php echo $x;?></li>
                                            <li class="list-group-item"><?php echo $list_soal[$x][0]; ?></li>
                                            <li class="list-group-item"><?php echo $list_soal[$x][1]; ?></li>
                                        </ul>
                                <?php
                                    }
                                ?>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<?php

        $js_plugin = array(
            'datatables/jquery.dataTables.min',
            'datatables/dataTables.bootstrap',
        );

        echo $this->Html->script($js_plugin,array('pathPrefix'=>'backend/js/','block'=>'scriptPlugin'));

?>