.quote{
	background-color: #ccc;
	padding: 10px 10px 10px 10px; 
}
.padding5{
	padding:5px 0px 5px 0px;	
}
.padding-right5{
	padding-right: 5px;
}
.div-border{
	border: solid 1px #ccc;
}
.bg-gray{
	background-color: #eee;
}
.margin-right5{
	margin-right: 5px;
}
.margin-top30{
	margin-top: 30px;
}
.margin-top20{
	margin-top: 20px;
}
.margin-top10{
	margin-top: 10px;
}



.box-white{
	background-color: #fff;
	/*border-radius: 5px 5px 5px 5px;*/
}
.box-md-4{
	border: solid 1px #ccc;
	width: 350px;
	height: 350px;
	padding: 20px 20px 20px 20px;
}	
.box-md-4 img{
	width: 200px;
	height: 200px;
}
.box-md-3{
	border: solid 1px #ccc;
	width: 250px;
	height: 250px;
}
.box-md-2{
	border: solid 1px #ccc;
	width: 150px;
	height: 150px;
}
.box-md-2-long{
	border: solid 1px #ccc;
	width: 390px;
	height: 150px;
}		