.lazy {
    display: none;
}

.btn{
	border-radius: 0px;
	text-decoration: none;
	padding: 12px 18px;
	font-size: 12px;
	line-height: 19px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
	border: 2px solid transparent;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.pagination {	
	border-radius: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{	
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color: rgb(253,3,0);
	border-color: rgb(253,3,0);
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
	color: #282828;
}
.pagination>li>a, .pagination>li>span{
	color: #282828;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
	background-color: rgb(253,3,0);
	border-color: rgb(253,3,0);
}
.form-control{
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	transition: none;
}
.form-control:focus{
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.progress{
	background-color: #fff;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
	border: none;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 25px 20px;
}
.navbar-default .navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	color: #333;	
}
.navbar-brand {
	float: left;
	height: 70px;
	padding: 5px 0px;
	font-size: 18px;
	line-height: 20px;	
}


.navbar-brand img{
	max-height: 60px;
	padding: 5px;
}

.navbar {
	border: none;
}
.navbar-default .navbar-nav>li>a {
	color: #333;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: rgb(253,3,0);
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: rgb(253,3,0);
	background-color: transparent;
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: rgb(253,3,0);
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	max-height: 100%;
}
.modal-header {
	min-height: 16.43px;
	padding: 25px;
	border-bottom: none;
}
.modal{
	top: 10%;
}
.modal-body{
	padding: 10px 50px 50px 50px;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 17px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 0;
	background-color: transparent;
	background-image: none;
	border: none;
	border-radius: 4px;
}
.navbar-collapse {	
	border-top: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.modal-content {
	position: relative;
	background-color: #f2f2f2;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	border: none;
	border-radius: 0;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.thumbnail{
	margin-bottom: 0;
	border: none;
}
.close {
	float: right;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	color: rgb(253,3,0);
	text-shadow: none;
	filter: none;
	opacity: 100;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.dropdown-menu {
	background-color: #f2f2f2;
	border: none;	
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.dropdown-menu>li>a {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;	
	letter-spacing: 1px;
	display: block;
	padding: 9px 20px;
	clear: both;
	font-weight: 500;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #333;
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}
.navbar-right .dropdown-menu {
	right: 0;
	left: auto;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: transparent;
}
.panel-heading{
	padding: 25px 25px;
	border-bottom: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.panel-group .panel {
	margin-bottom: 0;
	border-radius: 0;
}
.panel-default {
	border-color: transparent;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: transparent;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
	border-top: none;
}
.panel {
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.panel-body {
	padding: 25px;
}
.tab-content>.active {
	padding: 25px;
	background-color: #f5f5f5;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #555;
	cursor: default;
	background-color: #f5f5f5;
	border: none;
	border-bottom-color: transparent;
}
.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: none;
	border-radius: 0;
}
.nav-tabs {
	border-bottom: none;
}
/* ----------------------------------------------------
	2) GENERAL STYLE
------------------------------------------------------- */

html {
	height: 100%;
	min-height: 100%;
}
body {
	height: 100%;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 22px;
	color: #4c4c4c;
}
a{ 
	color:#aaaaaa;
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}
a:hover,
a:focus {
	text-decoration: none;
	color:rgb(253,3,0);
	outline: none;
	outline-offset: none;
}
.bg-color{
	background-color: #f5f5f5;
}
.general-title h2{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 31px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #696969;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;	
}
.head-title h2{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 31px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #fff;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
}
.service-title h3{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #282828;
	text-transform: uppercase;
	font-weight: 500;	
}
.project-title h3{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;	
}
.title-devider{
	border-bottom: 2px solid #c0c0c0;
	display: block;
	width: 100px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 40px;
}
.title-devider-left{
	border-bottom: 2px solid #c0c0c0;
	display: block;
	width: 100px;
}
.space{
	margin-top: 20px;
}
.space-bottom{
	padding-bottom: 20px;
}
.space-bottom-2x{
	padding-bottom: 40px;
}
.padding-top{
	padding-top: 40px;
}
.padding-2x{
	padding: 40px 0;
}
.padding-bottom{
	padding-bottom: 80px;
}
.padding-top-x2{
	padding-top: 80px;
}
.padding-top-x1{
	padding-top: 40px;
}
.margin-top{
	margin-top: 25px;
}
.margin-top-x2{
	margin-top: 40px;
}
.bg-color{
	background-color: #f2f2f2;
}
.white-btn{
	color: #fff;
	background-color: transparent;
	border-color: #fff;	
}
.white-btn:hover{
	color: #000;
	background-color: #fff;
	border-color: #fff;
}
.gold-btn{
	color: #fff;
	background-color: rgb(253,3,0);
	border-color: rgb(253,3,0);	
}
.gold-btn:hover{
	color: #fff;
	background-color: #D8BA6F;
	border-color: #D8BA6F;	
}
/*loader*/
.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#preloader {
	 position:fixed;
	 display: table;
	 width: 100%;
	 height: 120%;
	 min-height: 120%;
	 overflow-x: hidden;
	 overflow-y: hidden;
	 vertical-align: middle;
	 background: #fff;
	 z-index:9999;
}
.preloader-container {
	 position: relative;
	 display: table-cell;
	 vertical-align: middle;
	 z-index: 3;
	 text-align:center;
}
/*navbar*/
.header-nav{	
	text-align: center;
	background: rgba(255, 255, 255, 0.9);
	border-color: transparent;
	border-radius: 0;
	margin: 0;
}
#header {
	width:100%;
	z-index: 9999;
}


/* ----------------------------------------------------
	3) HEADER PAGES PARALLAX BACKGROUND
------------------------------------------------------- */

#about_bg{	
	background: url('../img/header_bg/image1.jpg') 50% 0 no-repeat fixed;
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;					
}
#service_bg{	
	background: url('../img/header_bg/image2.jpg') 50% 0 no-repeat fixed;
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;					
}
#projects_bg{	
	/*background: url('../img/header_bg/image3.jpg') 50% 0 no-repeat fixed;*/
	padding-top: 130px;
	padding-bottom: 50px;
	background-color: #333;
	background-size: cover;	
}
#blog_bg{
	color: #fff;
	background: url('../img/header_bg/image4.jpg') 50% 0 no-repeat fixed;
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;					
}
#blog2_bg{
	color: #fff;
	background: url('../img/header_bg/image5.html') 50% 0 no-repeat fixed;
	padding-top: 80px;
	padding-bottom: 80px;
	background-size: cover;					
}

/* ----------------------------------------------------
	4) SERVICES STYLES
------------------------------------------------------- */

#service_inner{
	color: #fff;
	background: url('../img/header_bg/service_bg.html') 50% 0 no-repeat fixed;
	padding-top: 100px;
	padding-bottom: 100px;
	background-size: cover;					
}	
.price-table{
	background-color: #f2f2f2;
	border: 3px solid #f2f2f2;
	border-radius: 0;
	padding-bottom: 20px;
}
.price-table:hover{
	border: 3px solid rgb(253,3,0);
}
.price-table h3{
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 5px;
}
.price-table h1{
	text-transform: uppercase;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
}
.price-table small{
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	letter-spacing: 3px;
}
.price-table p{
	color: #999;
	line-height: 40px;
}
/* Index Services Styles */
.service-box p{
	margin-left: 25px;
	margin-right: 25px;
}
.service-box-none p{	
	margin-left: 25px;
	margin-right: 25px;
} 
.service-box-none h3{
	padding: 10px 0;
}
.service-box-none i{
	color: rgb(253,3,0);
}
.service-box-none{
	padding-top: 50px;
	padding-bottom: 50px;
}
.service-box h3{
	padding: 10px 0;
}
.service-box i{
	color: rgb(253,3,0);
}
.service-box{
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #DEDEDE;
}
.service-box-l{
	border-left: 1px solid #DEDEDE;
}

/* ----------------------------------------------------
	5) SITE WRAPPER STYLES
------------------------------------------------------- */

.site-wrapper{
	padding-top: 80px;
}
.about-caption p{
	margin: 0;
}
.about-caption h3{
	font-family: 'Raleway', sans-serif;
	color: #282828;
	vertical-align: middle;
	margin: 0;
	margin-bottom: 13px;
	line-height: 20px;
	font-size: 17px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 500;
}
.about-caption h5{
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0px;
	text-transform: none;
	color: #333;
	margin: 0;
	padding: 0;
}
.about-caption .col-sm-10{
	padding-left: 10px;
}
.about-caption i{
/*	color: rgb(253,3,0);
	font-size: 36px;*/
	color: #4C4C4D !important;
}

/* ----------------------------------------------------
	6) PROJECTS STYLES
------------------------------------------------------- */

/* Index Projects Styles */
.projects .col-md-4{
	padding-right: 0;
	padding-left: 0;
}
.project-inner{
	position: relative;
	padding: 0;
	overflow: hidden;	
}
.project-inner>img, .project-inner>a img, .project-caption>img{
	display: block;
	max-width: 100%;
	height: auto;	
}
.project-inner .project-caption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(40,40,40,0.7);		
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	visibility: hidden;
	opacity: 0;	
}
.project-inner:hover .project-caption, .project-inner:focus .project-caption{
	visibility: visible;
	opacity: 1;
}
.project-caption h3{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}
.project-caption{
	color: #fff;
	text-align: center;
}
.project-details{
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -20px;
}
.project-details p{
	color: rgb(253,3,0);
}
.all-projects{
	background-color: transparent;
	padding: 50px 0;
}
.projects-title{
	padding-top: 15px;
	padding-bottom: 5px;
}
.projects-title h2{
	text-transform: uppercase;
	color: #333;
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	font-weight: 600;
}
.project-title-devider{	
	border-top: 1px solid #999;
	width: 65px;
	margin: 0 auto;
}

.cbp-filter-item{
	margin-bottom: 10px;
}

/*cube portfolio*/
.cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active {
	color: #FFF;
	background-color: rgb(253,3,0);
	border-color: rgb(253,3,0);
}

.cbp-l-filters-alignRight .cbp-filter-counter {
	background: rgb(253,3,0);
}
.cbp-l-filters-alignRight .cbp-filter-counter:before {
	border-top: 4px solid rgb(253,3,0);
}
.cbp-l-filters-alignRight {
	text-align: center;
}
.cbp-l-filters-alignRight .cbp-filter-item {
	background-color: #f2f2f2;
	border: none;
	font: 400 12px/35px "Open Sans",sans-serif;
	margin: 0;
	margin-right: 10px;
	margin-top: 10px;
}

.cbp-l-filters-list{
	margin: 0 auto;
	padding-bottom: 40px;
}
.cbp-l-filters-list .cbp-filter-item.cbp-filter-item-active {
	color: #FFF;
	background-color: rgb(253,3,0);
	border-color: rgb(253,3,0);
}
.cbp-l-filters-list .cbp-filter-item {
	background-color: transparent;
	color: #888888;
	cursor: pointer;
	font: 400 12px/35px "Open Sans",sans-serif;
	text-transform: uppercase;
	padding: 0 18px;
	position: relative;
	overflow: visible;
	margin-top: 0;
	float: left;
	border: 1px solid #f2f2f2;
	border-right-width: 0;
	-webkit-transition: left .3s ease-in-out;
	transition: left .3s ease-in-out;
}
.cbp-l-filters-list-last {
	border-radius: 0;
}
.cbp-l-filters-list-first {
	border-radius: 0;
}
.cbp-l-grid-blog-comments {
	color: #aaaaaa;
}
.cbp-l-grid-blog-title {
	font: 300 18px/28px "Raleway",sans-serif;
}
.cbp-l-grid-blog-title:hover {
	color: rgb(253,3,0);
}
.cbp-popup-singlePage .cbp-popup-navigation-wrap {	
	background-color: #2a2a2a;
}
.cbp-popup-singlePage .cbp-l-project-title {
	color: #454444;
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 31px;
	font-weight: 300;
	letter-spacing: 3px;
	-webkit-font-smoothing: antialiased;
}
.cbp-popup-singlePage-counter {
	color: rgb(253,3,0);
}
.cbp-l-grid-blog-desc {
	font: 300 14px "Open Sans",sans-serif;
	line-height: 22px;
	color: #4c4c4c;
	margin-top: 9px;
}
.cbp-popup-singlePage .cbp-l-project-subtitle {
	margin: 0 auto 40px;
}

/* ----------------------------------------------------
	7) TESTIMONIALS STYLES
------------------------------------------------------- */

#testimonials {
	background-color: #f2f2f2;	
}
.t-info b{
	font-family: 'Raleway', sans-serif;	
	font-weight: 600;
}

/* ----------------------------------------------------
	8) BLOG STYLES
------------------------------------------------------- */

.blog-inner{
	padding: 20px;
	border: 1px solid #f2f2f2;
	border-radius: 0;
}
.blog-inner .caption{
	padding: 0;
}
.blog-inner h3{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 600;	
}
.blog-meta i{
	color: rgb(253,3,0);
	margin-bottom: 15px;
}
.blog-meta span{
	color: rgb(253,3,0);
	font-size: 13px;
	margin-right: 7px;
}
.blog-inner-title a{
	color: #333;
}
.blog-inner-title a:hover{
	color: rgb(253,3,0);
}
.blog-btn{	
	color: #fff;
	background-color: rgb(253,3,0);
	border-color: rgb(253,3,0);
	width: 100%;
}
.blog-btn:hover{
	border-color: #D8BA6F;
	background-color: #D8BA6F;
	color: #fff;
}
.media-left{
	margin-left: 100px;
}
.left-comment input,textarea{
	margin-bottom: 25px;
}
.blog-meta-inner span{
	font-weight: bold;
	color: rgb(253,3,0);	
}
.blog-post-details blockquote{
	color: #999;
}

/* ----------------------------------------------------
	9) ABOUT STYLES
------------------------------------------------------- */

.team-inner{
	position: relative;
	padding: 0;
	overflow: hidden;	
	border: none;
	border-radius: 50%;	
	margin: 0;	
}
.team-inner>img, .team-inner>a img, .team-caption>img{
	display: block;
	max-width: 100%;
	height: auto;	
}
.team-inner .team-caption{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 50%;
	display: table-cell;
	vertical-align: middle;
	background: rgba(40,40,40,0.9);		
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	visibility: hidden;
	opacity: 0;	
}
.team-inner:hover .team-caption, .team-inner:focus .team-caption{
	visibility: visible;
	opacity: 1;
}
.team-details h5{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: rgb(253,3,0);
	margin-top: 20px;
}
.team-details p{
	margin: 0;
}
.team-details h3{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 500;   
    margin-top: 0;
    margin-bottom: 15px;
}
.t-social-holder{
	display: table;
	width: 100%;
	height: 100%;
}
.team-social{
  	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.team-social a{
	font-size: 16px;
}
.blog-img{
	overflow:hidden;
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;	
}
.blog-img img{
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out; 
}
.blog-img img:hover{
	-moz-transform: scale(1.1); 
	-webkit-transform: scale(1.1); 
	-o-transform: scale(1.1); 
	transform: scale(1.1); 
}
#our-clients{
	background-color: #f2f2f2;
}

/* ----------------------------------------------------
	10) CONTACT STYLES
------------------------------------------------------- */

.contact-icon i{	
	font-size: 26px;
	color: rgb(253,3,0);
	margin-top: 5px;
}
.contact-icon.col-sm-2{
	padding-left: 0;
	padding-right: 0;
}
.contact-icon.col-sm-10{
	padding-left: 0;
	padding-right: 0;
}
ul.contact-social{
	padding: 0;
}
.contact-social li{
	display: inline-block;
	
}
.btn-submit{
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 3px;
	width: 185px;
	margin: 15px 0px;
	padding: 12.9px;	
	border-color: rgb(253,3,0);
	background-color: rgb(253,3,0);
	border-radius: 0;	
	color: #fff;		
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.btn-submit:hover{
	border-color: #D8BA6F;
	background-color: #D8BA6F;
	color: #fff;
}
#map-canvas {
	height: 400px;
	width: auto;
}
#contact input,#contact select { 
	width: 100%; 
	padding: 12.9px; 
	color: #444; 
	background: #fff; 
	border: 1px solid #F0F0F0; 
	margin: 7px 0px; 	
	font-weight: 100;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	box-shadow: none;
	outline: 0 none;
}
textarea{ 
	width: 100%; 
	height: 175px;
	padding: 13px; 
	color: #444; 
	background: #fff; 
	border: 1px solid #F2F2F2; 
	margin-top: 7px;
	margin-right:15px;	
	font-weight: 100;
}
#contact input:focus,#contact textarea:focus,#contact select:focus{ 
	border: 1px solid rgb(253,3,0); 
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	color: #444; 
}
#contact span.required{ 
	font-size: 13px; 
	color: #ff0000; 
}
#message{ 
	margin: 10px 0; 
	padding: 0; 
}
.error_message{
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	color: #fff;
	-webkit-border-radius: 5px;
	background-color: rgb(253,3,0);	
	background-position: 10px center;
	background-repeat: no-repeat;
}
.loader{ 
	padding: 0 10px; 
}
acronym{ 
	border-bottom:1px dotted #ccc; 
}
#success_page{
	text-align: center;
}
#success_page strong{
	color: rgb(253,3,0);
}	

/* ----------------------------------------------------
	11) FOOTER STYLES
------------------------------------------------------- */
.footer-big{
	color: #aaaaaa;
	background-color: #2a2a2a;
	font-size: 15px;
}
#footer{
	background-color: #222;
	padding-top: 20px;
	padding-bottom: 20px;
}
.f-inner{
	padding-top: 50px;
	padding-bottom: 50px;
}
.f-inner:hover{
	background-color: rgb(253,3,0);
	color: #fff;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.f-inner .col-sm-10{
	padding-left: 0;
}
.f-logo{
	margin-top: 70px;
}
.f-logo h2{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 31px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #fff;	
	-webkit-font-smoothing: antialiased;
}
.f-space{
	padding: 8px 0;
}
.f-inner strong{
	font-family: 'Raleway', sans-serif;
	color: #ffffff!important;	
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.f-inner address{
	font-size: 0.8em;
	line-height: 1.8em;
	margin: 0;
}
.f-inner i{
	color: rgb(253,3,0);
}
.f-copyright{
	margin-top: 6px;
}
.f-copyright span{
	color: #aaaaaa;
	font-size: 12px;
}
ul.footer-social{
	padding: 0;
	margin: 0;
}
.footer-social li{	
	display: inline-block;
}
.f-cta{
	width: 100%;
	padding: 30px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	background-color: rgb(253,3,0);
	font-size: 15px;
	line-height: 25px;
	color: #ffffff;
	text-align: center;
	display: block;	
	position: relative;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.f-cta:hover{
	background-color: #222;
}
.f-action a:focus{
	color:#fff;
}
.cta-section h2{
	margin-bottom: 30px;
}
.cta-section{
	color: #fff;	
	background: url('../img/header_bg/bg2.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
}
.cta-title-2 h2{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 31px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #333;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;	
}
.cta-title h2{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 31px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #fff;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;	
}

/* ----------------------------------------------------
	12)	OFF-CANVAS MENU
------------------------------------------------------- */
.canvas-nav li{	
	padding-top: 30px;
	font-weight: 400;
	font-size: 1em;
	line-height: 2.4em;
	text-align: center;
	text-transform: uppercase;
	list-style: none;		
}
.canvas-nav a{		
	color: #999;
}
.canvas-nav a:hover{
	color: rgb(253,3,0);
	background-color: #fff;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.canvas-nav-social li{
	float: right;
	list-style: none;
	display: inline;
}
.nav-logo{
	margin-top: 10px;
}
.nav-logo a{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 22px;
	text-transform: uppercase;
	color: #333;
}
.offcanvas-nav{
	background: rgba(255, 255, 255, 0.9);
	border-color: transparent;
	border-radius: 0;
	margin: 0;
	padding: 20px 0;
	width: 100%;	
	color: #fff;	
}
.mm-menu {
	background: #2a2a2a;
	color: #aaaaaa;
}
.mm-menu .mm-list > li:after {
	border-color: transparent!important;
}
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu .mm-list > li.mm-selected > span {
	background: transparent;
}
.topBar{
	margin-top: 6px;
}
.mm-menu > .mm-panel.mm-opened {
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


/* ----------------------------------------------------
	13)	SLIDER STYLES
------------------------------------------------------- */

.slider-text{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 52px;
	font-weight: 300;
	line-height: 56px;
	letter-spacing: 1px;
	text-transform: none;
}
.tp-loader.spinner0{
	display: none;
}

/*owl carousel*/
.owl-theme .owl-controls .owl-page span {
	background: #999;
}
.owl-theme .owl-controls {
	margin-top: 40px;
	text-align: center;
}
#owl-demo a:hover{
	opacity: 0.4;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.owl-theme .owl-controls .owl-page span {
	padding-bottom: 0;
	margin-bottom: 0;
}
#owl-office .item img{
    display: block;
    width: 100%;
    height: auto;
}

/* ----------------------------------------------------
	13)	DARK VERSION STYLES
------------------------------------------------------- */

.black-btn{
	color: #fff;
	background-color: #222;
	border-color: #222;	
}
.black-btn:hover{
	color: #fff;
	background-color: #333;
	border-color: transparent;
}
.header-nav-black{	
	background-color: #222;
}
.navbar-default .navbar-nav>li>a {
	color: #555;
}
.header-nav-black .navbar-nav>.active>a, .header-nav-black .navbar-nav>.active>a:hover, .header-nav-black .navbar-nav>.active>a:focus {
	color: #fff;
}
.header-nav-black .navbar-nav>li>a:hover, .header-nav-black .navbar-nav>li>a:focus {
	color: #fff;
}
.header-nav-black .navbar-brand {
	color: #fff;
}
.about-caption-black i {
	color: #222;
}
.cbp-l-filters-black .cbp-filter-item.cbp-filter-item-active {
	color: #FFF;
	background-color: #222;
	border-color: #222;
}
.cbp-l-filters-black .cbp-filter-counter {
	background: #222;
}
.cbp-l-filters-black .cbp-filter-counter:before {
	border-top: 4px solid #222;
}
.service-box-black i{
	color: #222;
}
.service-box-none-black i{
	color: #222;
}
.general-title-black h2{
	color: #fff;
	background-color: #222;
	padding: 5px;
	display: inline;
}
.team-social-black a{
	color: #222;
}
.team-details-black h5{
	color: #999;
}
.price-table-black:hover{
	border: 3px solid #222;
}
a.cbp-l-grid-blog-comments-black:hover{
	color: #222;
}
.f-inner-black i{
	color: #999;
}
.f-inner-black:hover{
	background-color: #333;
}
.f-cta-black{
	color: #aaaaaa;
	background-color: #222;
}
.f-cta-black:hover {
	color: #aaaaaa;
	background-color: #333;
}
.close-black{
	color: #222;
}
.footer-social-black a{ 
	color:#444;
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}
.footer-social-black a:hover,
a:focus {
	text-decoration: none;
	color:#333;
	outline: none;
	outline-offset: none;
}

/* ----------------------------------------------------
	14)	RESPONSIVE STYLES
------------------------------------------------------- */

@media(max-width:767px){
	#footer{text-align: center;}
	ul.footer-social{float: none;margin-top: 20px;}
	.f-inner{padding-top: 20px;padding-bottom: 20px;text-align: center;}
	.f-inner .col-sm-10{padding-left: 15px;}
	.f-logo h2{text-align: center;}
	.f-logo {margin-top: 0;}
	.price-table {margin-bottom: 20px;}
	.about-caption{margin-bottom: 20px; text-align: center;}
	.bg-color{text-align: center;}
	.team-details{margin-bottom: 30px;}
	.header-nav{padding-bottom: 20px;}
	.nav-logo{float: right;}
}
@media(max-width:991px){
	.nav-logo{float: right;}
}

/* ----------------------------------------------------
	15)	404 PAGE STYLES
------------------------------------------------------- */
.main-title h1{	
	font-size: 210px;
	font-weight: 600;
	letter-spacing: 3px;
	color: rgb(253,3,0);
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
}
.large-header {
	position: relative;
	width: 100%;
	background: #fff;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
/* ----------------------------------------------------
	16)	COMING SOON TIMER STYLES
------------------------------------------------------- */
#counter {
	color: rgb(253,3,0);
	overflow: hidden;
}

.counter-container {
	display: table;
	margin: 0 auto;
}
#counter .counter-box {
	display: block;
	width: 190px;
	text-align: center;
	overflow: hidden;
	padding: 10px 35px;
	float: left;
	margin: 25px 0;
	position: relative;
}
#counter .last {
	border-right: 0px solid #fff;
}
#counter .number {
	font-size: 80px;
	text-align: center;
	font-weight: 700;
	line-height: 1;
}
#counter span {
	display: block;
	font-size: 21px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.c-soon h1{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	line-height: 31px;
	font-weight: 300;
	letter-spacing: 3px;
	color: rgb(253,3,0);
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;	
}

/* ----------------------------------------------------
	17)	SHORTCODES
------------------------------------------------------- */
.s-title h1{
	font-family: 'Raleway', sans-serif;
	font-size: 46px;
	line-height: 31px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #333;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	padding: 100px 0;
}
.s-heading h1, .s-heading h2, .s-heading h3, .s-heading h4, .s-heading h5, .s-heading h6{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
.s-heading-b h1, .s-heading-b h2, .s-heading-b h3, .s-heading-b h4, .s-heading-b h5, .s-heading-b h6{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
iframe{
  max-width: 100% !important;
}

.slider-text{
	font-weight: bold;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.slider-text2 {
    color: #fff;
    font-family: "Raleway",sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: none;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.thumbnail{
	margin-bottom: 10px;
}

.thumbnail h3{
	margin-bottom: 0px;
	font-size: 20px;
	font-family: "Raleway";
}

.thumbnail h5{
	margin-top: 4px;
	margin-bottom: 4px;
	font-family: "Raleway";
}

.thumbnail .caption-description{
	font-size: 12px;
	color: #777;
	min-height: 80px;
	max-height: 80px;
}

.thumbnail > .image-product{
	display: block;
	min-height: 255px;
	position: relative;
}

.thumbnail > .image-product > img,.thumbnail > .image-product > img{
	display: block;
    height: auto;
    max-width: 100%;
    margin: auto;
}

.pagination{
	margin: 0px;
}

.pagination-info{
	font-size: 10px;
}