
<div class="site-wrapper">
    <div class="container"> 

		<div class="jumbotron">
			<h1><?php echo "Under Construction"; ?></h1>
			<p><?php echo "Maaf Halaman ini masih dalam tahap pengembangan"; ?></p>
			
		</div>

    </div>
</div>
<!-- /Main Content -->