<!-- Main Content -->
<div id="projects_bg">         
    <div class="head-title"> 
        <h2>Subscribe</h2>                        
    </div>
</div>
<div class="site-wrapper">
    <div class="container"> 

		<div class="jumbotron">
			<h1><?php echo $big_text; ?></h1>
			<p><?php echo $small_text; ?></p>
			
		</div>

    </div>
</div>
<!-- /Main Content -->